<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Tictactwo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col h-screen bg-gray-100">
    <header>
      <section class="container">
        <nav>
          <ul class="flex">
            <li><a href="/lobby"><h1 class="text-xl">Tic-Tac-Two</h1></a></li>
          </ul>
        </nav>
      </section>
    </header>
    <.container class="my-10">
      <%= @inner_content %>
    </.container>
  </body>
</html>
