<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Tictactwo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body 
    class="flex flex-col h-screen bg-gray-100"
    phx-click="outside-click"
    phx-window-keyup="key-event"
  >
    <header class="container bg-gray-500 text-white box-shadow-lg">
      <section class="">
        <nav class="my-1 mx-4">
          <ul class="flex justify-between">
            <li><a href="/lobby"><h1 class="text-xl">Tic-Tac-Two</h1></a></li>
            <li><span class="text-lg"><%= @conn.assigns.current_user.username %></span></li>
          </ul>
        </nav>
      </section>
    </header>
    <main>
      <%= @inner_content %>
    </main>
  </body>
</html>
